<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Books Index</title>
</head>
<body>
    <div class="index-header-div">
      <h1>All Books</h1>
      <a class="add-book" href="/books/new">Add New Book</a>
    </div>
    <ul>
        <% books.forEach(book => { %>
          <li>
            <a class="book-cards" href="/books/<%=book._id %>">
                <%= book.title %>
            </a>
        </li>
        <% }); %>
      </ul> 
</body>
</html>