<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Enter a Book</title>
</head>
<body>
    <h1>Enter a New Book!</h1>
    <form action="/books" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" />
        </div>
        <br>
        <div>
            <label for="author">Author:</label>
            <input type="text" name="author" id="author" />
        </div>
        <br>
        <div class="checkbox-div">
            <label for="recommendation">Recommend?</label>
            <input type="checkbox" name="recommendation" id="recommendation" />
        </div>
        <br>
        <button type="submit">Add Book</button>
    </form>

    <a class="books-index-link" href="/books">
        <div class="index-link-text">Back to Books</div>
    </a>
</body>
</html>