<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Books App</title>
  </head>
  <body>
    <h1>Welcome to the Books app!</h1>
    <img
      class="book-pic1" 
      src="https://motionarray.imgix.net/preview-625712-xhcUMtMzIFTzhwVG-large.jpg?w=3840&q=60&fit=max&auto=format"
      alt="open book"
    />
    <p>An app for collecting your favorite books and recommendations.</p>
    <a class="books-index-link" href="/books">
      <div class="index-link-text">Browse Books</div>
    </a>
    </div>


  </body>
  <footer>Icons by <a href="https://hotcore.info/babki/open-book-jpg.htm">PIXELRZ</a></footer>
  </html>
